<Section class="container">
  <section class="row p-4">
    <article class="col-12 mt-3">
      <h2 class="mt-3">Presentacion</h2>
      <h4 class="mt-3">Desarrollador: Front End Jr Developer</h4>
      <section class="col mt-3">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe,
          labore velit reiciendis quas optio amet dolores cupiditate repellendus
          alias blanditiis exercitationem consectetur dolorum, adipisci
          mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Provident, ex debitis obcaecati commodi, laudantium rerum dolore est
          sapiente suscipit, earum iusto quibusdam ad! Velit modi fugiat
          explicabo in assumenda sit?
        </p>
      </section>
    </article>

    <section class="mt-3 col-6 animate__animated animate__rubberBand">
      <h2>Habilidades</h2>
      <p class="label">HTML</p>
      <section class="progress mb-3">
        <article
          class="progress-bar progress-bar-striped bg-success text-center"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-valuenow="95"
          style="width: 85%"
        >
          85%
        </article>
      </section>

      <p class="label">JavaScript</p>
      <section class="progress mb-3">
        <article
          class="progress-bar progress-bar-striped bg-success text-center"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-valuenow="80"
          style="width: 75%"
        >
          75%
        </article>
      </section>

      <p class="label">TS</p>
      <section class="progress mb-3">
        <article
          class="progress-bar progress-bar-striped bg-success text-center"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-valuenow="80"
          style="width: 60%"
        >
          60%
        </article>
      </section>

      <p class="label">CSS</p>
      <section class="progress mb-3">
        <article
          class="progress-bar progress-bar-striped bg-success text-center"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-valuenow="70"
          style="width: 50%"
        >
          50%
        </article>
      </section>

      <p class="label">Git</p>
      <section class="progress mb-3">
        <article
          class="progress-bar progress-bar-striped bg-success text-center"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-valuenow="80"
          style="width: 60%"
        >
          60%
        </article>
      </section>
    </section>

    <section class="col-6 mt-3 animate__animated animate__rubberBand">
      <h2 class="mb-2">Proyectos Personales</h2>
      <hr class="text-success" />

      <section class="container">
        <article class="row gap-5 d-flex justify-content-around">
          <section class="col-4">
            <!-- Contenido de la primera sección -->
            <p-image
              src="../assets/reto12.PNG"
              alt="Image"
              width="200"
              [preview]="true"
              class="card-img-top"
            ></p-image>
          </section>
          <section class="col-4">
            <!-- Contenido de la segunda sección -->
            <p-image
              src="../assets/demo17-prueba.PNG"
              alt="Image"
              width="200"
              [preview]="true"
              class="card-img-top"
            ></p-image>
          </section>
          <section class="col-4">
            <!-- Contenido de la segunda sección -->
            <p-image
              src="../assets/crud_get.PNG"
              alt="Image"
              width="200"
              [preview]="true"
              class="card-img-top"
            ></p-image>
          </section>
          <section class="col-4">
            <!-- Contenido de la segunda sección -->
            <p-image
              src="../assets/imagen_logo1.PNG"
              alt="Image"
              width="200"
              [preview]="true"
              class="card-img-top"
            ></p-image>
          </section>
        </article>
      </section>
    </section>
  </section>
</Section>
