<section class="container">
  <section class="row   d-flex justify-content-center">


      <div class="card mt-3 animate__animated animate__bounceInDown" style="width: 35rem;">
        <img src="./../assets/homero_error.jpeg" alt="" class="card-img-top">
        <div class="card-body d-flex justify-content-center">
          <section class="card-title w-75 mb-3">
            <p>Debes registrarte primero para acceder</p>
          </section>
          <button class="btn btn-success mt-5" routerLink="/login">Ir a Inicio</button>
        </div>
      </div>

  </section>
</section>
